/*/ Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {

    .main-logo {
        margin: 0px 0;
    }
    .company-name {
        font-size: 15px;
        padding: 0px 0;
        margin: 2px 0;
    }
    .search-box input[type="search"] {
        width: 60%;
        font-size: 13px;
    }
    .search-box button i.fa {
        font-size: 10px;
    }
    .slide-text p {
        font-size: 14px;
    }
    .home-slide .owl-nav div {
        left: 5px;
        background: none;
        top: 55%;
    }
    .home-slide .owl-nav .owl-next {
        right: 5px;
    }
    .home-slide .owl-nav div i.fa {
        font-size: 20px;
    }
    .slide-text {
        padding: 10px;
    }
    .slide-text h2 {
        font-size: 20px;
    }
    .company-name span {
        font-size: 80%;
    }
    .slicknav_nav ul li a {
        background: #ddd;
        color: #000;
    }
    ul.menu li a i.fa {
        display: none;
    }
    .hero-slider-area {
        height: 300px;
    }

    .single-slide-item {
        height: 300px;
    }

    .service-box-bg {
        height: 250px;
    }
    .service-description {
        height: 300px;
    }
    .service-description h4 {
        font-size: 18px;
        font-weight: 700;
    }

    /*    section-paddin*/
    .section-title {
        padding: 20px 0;
    }
    .section-padding {
        padding: 15px 0;
    }
    .single-project-done p {
        font-size: 14px;
        font-weight: 600;
    }
    .single-project-done h2 {

        font-size: 14px;

    }
    .single-project-done {
        padding-bottom: 13px;
    }
    .single-project-done i.fa {
        font-size: 25px;
        height: 70px;
        width: 70px;
        line-height: 70px;
    }
    .section-title h2 {
        font-size: 20px;
    }
    section.section-padding.testimonial-area h2 {
        font-size: 18px;
    }
    .testimonial-details {
        font-size: 16px;
    }
    .border-for-testimonial {
        height: 170px;
        width: 170px;
        padding: 8px;
    }
    .testimonial-image {
        height: 150px;
        width: 150px;
    }
    .news-letter h4 {
        bottom: 59%;
        left: 11%;
        font-size: 18px;
        transform: rotate(0deg);
        padding-bottom: 8px;
    }
    .news-letter form input {
        width: 80%;
        font-size: 20px;
        padding: 8px;
    }
    .news-letter button {
        font-size: 20px;
        padding: 8px;

    }
    .news-letter {
        padding: 40px 0;
        text-align: center;
    }
    .message-sect h2 {
        font-size: 18px;
        text-align: center;
    }
    .message-sect form input:nth-child(1),
    .message-sect form input:nth-child(2) {
        width: 100%;
    }
    .message-sect form input:nth-child(2) {
        margin-left: 0;
    }
    .single-footer-item {
        text-align: justify;
    }
    .footer-log {
        text-align: center;
        margin: inherit;
    }
    .copy-right {
        text-align: center;
    }
    .testing-div a > img {
        max-width: 100%;
        min-height: 150px;
    }
    .testing-div{
        max-width: 50%;
    }
    ul.image-filtering-btn li{
        font-size: 12px;
        padding: 8px;
    }
    .testing-div img.project-img{
        min-height: 120px;
    }


}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 0px) and (max-width: 767.98px) {
    .responsive-menu-wrap .slicknav_menu {
        display: block;
        background: #3879D9;
    }
     .main-menu {
        display: none;
    }
    .slicknav_btn {
        background: #3879D9;
    }
    .slicknav_nav .slicknav_row, .slicknav_nav a{
        background: #333;
    }
    .main-menu ul.menu li a {
        padding: 13px 8px;
        font-size: 12px;
    }
    .row.main-menu-bg.sticky ul li a {
        padding: 13px 10px;
    }
    .search-box input {
        width: 80%;
    }
    .company-name {
        padding: 5px 0;
        font-size: 20px;
    }
    .main-logo {
        margin: 0;
    }
    .slide-text p {
        font-size: 16px;
    }
    .slide-text h2 {
        font-size: 25px;
    }

    .timelin-main {
        padding: 75px 10px;
    }
    .timelin-main li > div {
        width: 100%;
        padding: 40px 10px;
        text-align: center;
        box-shadow: none;
    }
    .timelin-main li:before {
        top: 0;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .timelin-main li:nth-child(odd):before,
    .timelin-main li:nth-child(even):before {
        margin-top: -7px;
    }

    .timelin-main li:nth-child(odd) > div:before,
    .timelin-main li:nth-child(even) > div:before {
        bottom: -8px;
        left: 50%;
        top: auto;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

    }
    .timelin-main li:nth-child(even) > div:before {}
    .timelin-main li > div:after {
        display: none;
    }

    .timelin-main li {
        margin: 65px 0;
    }
    .timelin-main li:nth-child(even) {
        margin-top: 0;
    }
    .timelin-main li:first-child {
        margin-top: 0;
    }
    .timelin-main li:last-child {
        margin-bottom: 0;
    }
    .testing-div{
        max-width: 50%;
    }
    ul.image-filtering-btn li{
        font-size: 12px;
        padding: 8px;
    }
    .testing-div img.project-img{
        min-height: 150px;
    }
    .testing-div .project-overlay{
        padding-top: 30px;
    }
    .testing-div .project-overlay h4{
        font-size: 18px;
    }
    .testing-div .project-overlay p{
        font-size: 14px;
    }
}

/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .main-menu ul.menu li a {
        padding: 20px 15px;
    }
    .company-name {
        padding: 10px 0;
        font-size: 16px;
    }
    .main-logo {
        margin: 0px 0px;
    }
    .search-box input {
        width: 80%;
    }
    .main-menu ul.menu li a {
        padding: 13px 15px;
        font-size: 12px;
    }
    .row.main-menu-bg.sticky ul li a {
        padding: 13px 15px;
    }
    .testing-div a > img {
        max-width: 100%;
        min-height: 150px;
    }
    .testing-div{
        max-width: 25%;
    }
    

}

/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .message-sect form input:nth-child(1),
    .message-sect form input:nth-child(2) {
        width: 47%;
    }
    .news-letter h4 {
        left: -37%;
    }
    .section-title {
        padding: 50px 0;
    }
    .testimonial-details:hover {
        transform: scale(.8);
    }
    .main-menu ul.menu li a {
        padding: 20px 25px;
    }
    .main-logo {
        padding: 0;
    }
    .row.main-menu-bg.sticky ul li a {
        padding: 15px 15px;
    }
    .testing-div{
        max-width: 25%;
    }
}
